<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read File</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        h1 ,  h4{
            color: white;
            margin-top: 15px;
        }
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
    
<div class="main" style="background-color: black; padding: 20px; width: 100%; min-height: 100vh; ">

    <a href="/"><b>Back To Home</b></a>

    <h1><%= filename %></h1>
    <h4><%= filedata %></h4>
</div>

</body>
</html>